<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <connectionStrings>
        <add name="QJDDB" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=D:\IRobot\VS 2019\TCHMT\Qualification Job Directory\QualificationJobDirectory\QualificationJobDirectory\DirectoryDB.mdf;Integrated Security=True"/>
    </connectionStrings>
</configuration>